<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <div id="theme">
    <h1>Paper-Ganbaru</h1>
  </div>
  <div id="start">
    <form action="" method="POST">
      <p id="intro">Paper-Ganbaruにログイン</p>
      <p id="teach"></p>
      <label>名前：</label>
      <input id="name" type="text" name="name" placeholder="名前を入力"><br>
      <input id="sousin" class="material-icons" type="submit" name="submit">
    </form>
  </div>
</body>
<script>


</script>

</html>