<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MATCH</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
  <div id="theme">
    <h1>Paper-Ganbaru</h1>
  </div>
  <div>
    <a href="/"><button id="logout" class="material-icons">ログアウト</button></a>
  </div>

  <div class="wel">
    <p>マッチングしました!</p>
    <p>Lineの通知を確認してください</p>
    <a href="/index"><button id="backbutton">戻る</button></a>
  </div>

</body>

</html>